<?xml version="1.0"?>
<launch>

  <include file="$(find cititruck_gazebo)/launch/cititrucks_robot_lab.launch"/>
  <include file="$(find gazebo_worlds_oru)/launch/robot_lab_map_server.launch"/>
  <rosparam command="load" file="$(find orunav_params)/config/global.cfg"/>
  <rosparam command="load" file="$(find orunav_params)/config/citi1_simulation.cfg" />
  <rosparam command="load" file="$(find orunav_params)/config/citi2_simulation.cfg" />

  <arg name="robot_ids" default="[1,2,3]" />
  <arg name="active_robot_ids" default="[1,2,3]" />
  <arg name="max_unsafety_probability" default="0.0001" /> 
  <arg name="max_packet_loss_probability" default="0.0" /> 
  <arg name="max_tx_delay_millis" default="0" />
  <arg name="heartbeat_report_period_sec" default="1.0" />
  <arg name="use_update_task_service" default="false" />

  <node name="coordinator" pkg="coordination_oru_ros" type="coordinator" args="se.oru.coordination.coordinator.ros_coordinator.generic.MainNode" output="screen">
    <rosparam param="robot_ids" subst_value="true">$(arg robot_ids)</rosparam>
    <rosparam param="active_robot_ids" subst_value="true">$(arg active_robot_ids)</rosparam>
    <param name="footprint_rear_left_x" value="-0.2" />
    <param name="footprint_rear_left_y" value="0.3" />
    <param name="footprint_rear_right_x" value="-0.2" />
    <param name="footprint_rear_right_y" value="-0.3" />
    <param name="footprint_front_left_x" value="1.9" />
    <param name="footprint_front_left_y" value="0.3" />
    <param name="footprint_front_right_x" value="1.9" />
    <param name="footprint_front_right_y" value="-0.3" />
    <param name="control_period" value="1000" />
    <param name="report_period" value="$(eval int(1000 * arg('heartbeat_report_period_sec')))" />
    <param name="temporal_resolution" value="1000.0" />
    <param name="forward_model_max_accel" value="0.1" />
    <param name="forward_model_max_vel" value="0.3" />
    <param name="max_unsafety_probability" value="$(arg max_unsafety_probability)" />
    <param name="max_packet_loss_probability" value="$(arg max_packet_loss_probability)" />
    <param name="max_tx_delay_millis" value="500" /> 
    <param name="use_execute_task_service" value="false" /> 
    <param name="report_topic" value="report_delayed" /> 
  </node>
  
  <include file="$(find orunav_channel)/launch/channel_model.launch" >
      <arg name="robot_ids" value="$(arg active_robot_ids)" />
      <arg name="max_unsafety_probability" value="$(arg max_unsafety_probability)" />
      <arg name="max_packet_loss_probability" value="$(arg max_packet_loss_probability)" />
      <arg name="min_tx_delay_millis" value="0" />
      <arg name="max_tx_delay_millis" value="$(arg max_tx_delay_millis)"/>
      <arg name="tf_prefix" value="/robot" />
      <arg name="report_topic" value="report" />
      <arg name="execute_task_topic" value="unreliable_execute_task" />
      <arg name="execute_task_service" value="execute_task" />
  </include>

  <!-- ALL ROBOT SPECIFIC TASKS -->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1" />

    <node pkg="orunav_mpc" type="controller_node" name="controller" output="screen">
      <param name="robot_id" value="1" />
      <remap from="/robot1/cmd_vel" to ="/robot1/controller/cmd_vel"/>
      <!-- FOR ILIAD -->
      <!--
      <remap from="controller/commands" to="control/controller/commands"/>   
      <remap from="controller/reports" to ="control/controller/reports"/>
      <remap from="controller/trajectories" to ="control/controller/trajectories"/>
      -->
    </node>

    <include file="$(find orunav_fork_control)/launch/fork_control_sim.launch">
      <!-- FOR ILIAD -->
      <!--arg name="cmd_fork_topic" value="/robot1/control/controller/cmd_fork" /-->
      <!--arg name="topic_prefix"   value="/robot1/"/-->
      <!-- FOR STANDALONE -->
      <arg name="cmd_fork_topic" value="/robot1/controller/cmd_fork" /> 
      <arg name="topic_prefix"   value="/robot1/control/"/>
    </include>

    <node pkg="orunav_motion_planner" type="get_path_service" name="get_path_service" output="screen">
      <!--param name="model" value="CiTiTruck_16_1_4.0_0.2.reduced"/-->
      <param name="model" value="CiTiTruck_Expanded10+20_16_1_4.0_0.2.reduced"/>
      <param name="motion_primitives_directory" value="$(find orunav_motion_planner)/Primitives/" />
      <param name="lookup_tables_directory" value="$(find orunav_motion_planner)/LookupTables/" /> 
      <param name="min_incr_path_dist" value="0.2" />
      <param name="visualize" value="true" />
    </node>
    
    <node pkg="orunav_constraint_extract" type="polygonconstraint_service" name="polygonconstraint_service" output="screen">
      <param name="load_type" value="1" />
      <param name="model_type" value="2" />
      <param name="visualize" value="false" />
      <param name="save_constraints_and_path" value="true" />
      <param name="lookuptables_file" value="$(find orunav_constraint_extract)/tables/service_lookup_model2load1.dat" />
      <param name="visualize_outer_constraints" value="true" />
      <param name="visualize_only_invalid" value="false" />
      <param name="skip_overlap" value="true" />
      <param name="save_lookuptables" value="false" />
    </node>  
    
    <node pkg="orunav_path_smoother" type="smoothed_path_service" name="smoothed_path_service" output="screen">
      <param name="visualize" value="true" />
      <param name="visualize_deep" value="false" />
      <param name="wheel_base" value="1.190" />
      <param name="minimize_phi_and_dist" value="true" />
      <param name="init_controls" value="true" />
      <param name="use_th_constraints" value="true" />
      <param name="use_xy_constraints" value="true" />
      <param name="phi_min" value="-1.2" />
      <param name="phi_max" value="1.2" />
    </node>  
    
    <node pkg="orunav_trajectory_processor" type="deltatvec_service" name="deltatvec_service" output="screen">
      <param name="visualize" value="true" />
      <param name="fast_max_vel" value="0.5"/>
      <param name="fast_max_rotational_vel" value="0.3"/>
      <param name="fast_max_acc" value="0.3"/>
      <param name="fast_max_steering_angle_vel" value="0.6"/>
      <param name="fast_creep_speed" value="0."/>
      <param name="fast_creep_distance" value="0."/>
      
      <param name="slow_max_vel" value="0.05"/>
      <param name="slow_max_rotational_vel" value="0.3"/>
      <param name="slow_max_acc" value="0.1"/>
      <param name="slow_max_steering_angle_vel" value="0.6"/>
      <param name="slow_creep_speed" value="0."/>
      <param name="slow_creep_distance" value="0."/>
    </node>  
    
    <node pkg="orunav_path_smoother" type="smoothed_straight_path_service" name="smoothed_straight_path_service" output="screen">
      <param name="visualize" value="true" />
    </node>  

    <node pkg="orunav_vehicle_execution" type="orunav_vehicle_execution_node" name="orunav_vehicle_execution_node" output="screen">
      <param name="robot_id" value="1" />
      <param name="visualize" value="true" />
      <param name="max_tracking_error" value="-1." />
      <param name="use_forks" value="true" />
      
      <param name="max_vel" value="0.5" />
      <param name="max_rotational_vel" value="0.3" />
      <param name="max_acc" value="0.3" />
      <param name="max_steering_angle_vel" value="0.6"/>
      
      <param name="max_steering_range_smoothed_path" value="1.5" />
      <param name="min_docking_distance" value="0.1" />
      <param name="use_ct" value="false"/>
      <param name="heartbeat_report_period_sec" value="$(arg heartbeat_report_period_sec)" />
      <param name="use_update_task_service" value="$(arg use_update_task_service)" />
    </node>
    
  </group>

  <group ns="robot2">
    <param name="tf_prefix" value="robot2" />

    <node pkg="orunav_mpc" type="controller_node" name="controller" output="screen">
      <param name="robot_id" value="2" />
      <remap from="/robot2/cmd_vel" to ="/robot2/controller/cmd_vel"/>
      <!-- FOR ILIAD -->
      <!--
      <remap from="controller/commands" to="control/controller/commands"/>   
      <remap from="controller/reports" to ="control/controller/reports"/>
      <remap from="controller/trajectories" to ="control/controller/trajectories"/>
      -->
    </node>

    <include file="$(find orunav_fork_control)/launch/fork_control_sim.launch">
      <!-- FOR ILIAD -->
      <!--arg name="cmd_fork_topic" value="/robot2/control/controller/cmd_fork" /-->
      <!--arg name="topic_prefix"   value="/robot2/"/-->
      <!-- FOR STANDALONE -->
      <arg name="cmd_fork_topic" value="/robot2/controller/cmd_fork" /> 
      <arg name="topic_prefix"   value="/robot2/control/"/>
    </include>

    <node pkg="orunav_motion_planner" type="get_path_service" name="get_path_service" output="screen">
      <!--param name="model" value="CiTiTruck_16_1_4.0_0.2.reduced"/-->
      <param name="model" value="CiTiTruck_Expanded10+20_16_1_4.0_0.2.reduced"/>
      <param name="motion_primitives_directory" value="$(find orunav_motion_planner)/Primitives/" />
      <param name="lookup_tables_directory" value="$(find orunav_motion_planner)/LookupTables/" /> 
      <param name="min_incr_path_dist" value="0.2" />
      <param name="visualize" value="true" />
    </node>
    
    <node pkg="orunav_constraint_extract" type="polygonconstraint_service" name="polygonconstraint_service" output="screen">
      <param name="load_type" value="1" />
      <param name="model_type" value="2" />
      <param name="visualize" value="false" />
      <param name="save_constraints_and_path" value="true" />
      <param name="lookuptables_file" value="$(find orunav_constraint_extract)/tables/service_lookup_model2load1.dat" />
      <param name="visualize_outer_constraints" value="true" />
      <param name="visualize_only_invalid" value="false" />
      <param name="skip_overlap" value="true" />
      <param name="save_lookuptables" value="false" />
    </node>  
    
    <node pkg="orunav_path_smoother" type="smoothed_path_service" name="smoothed_path_service" output="screen">
      <param name="visualize" value="true" />
      <param name="visualize_deep" value="false" />
      <param name="wheel_base" value="1.190" />
      <param name="minimize_phi_and_dist" value="true" />
      <param name="init_controls" value="true" />
      <param name="use_th_constraints" value="true" />
      <param name="use_xy_constraints" value="true" />
      <param name="phi_min" value="-1.2" />
      <param name="phi_max" value="1.2" />
    </node>  
    
    <node pkg="orunav_trajectory_processor" type="deltatvec_service" name="deltatvec_service" output="screen">
      <param name="visualize" value="true" />
      <param name="fast_max_vel" value="0.5"/>
      <param name="fast_max_rotational_vel" value="0.3"/>
      <param name="fast_max_acc" value="0.3"/>
      <param name="fast_max_steering_angle_vel" value="0.6"/>
      <param name="fast_creep_speed" value="0."/>
      <param name="fast_creep_distance" value="0."/>
      
      <param name="slow_max_vel" value="0.05"/>
      <param name="slow_max_rotational_vel" value="0.3"/>
      <param name="slow_max_acc" value="0.1"/>
      <param name="slow_max_steering_angle_vel" value="0.6"/>
      <param name="slow_creep_speed" value="0."/>
      <param name="slow_creep_distance" value="0."/>
    </node>  
    
    <node pkg="orunav_path_smoother" type="smoothed_straight_path_service" name="smoothed_straight_path_service" output="screen">
      <param name="visualize" value="true" />
    </node>  
    
    <node pkg="orunav_vehicle_execution" type="orunav_vehicle_execution_node" name="orunav_vehicle_execution_node" output="screen">
      <param name="robot_id" value="2" />
      <param name="visualize" value="true" />
      <param name="max_tracking_error" value="-1." />
      <param name="use_forks" value="true" />
      
      <param name="max_vel" value="0.5" />
      <param name="max_rotational_vel" value="0.3" />
      <param name="max_acc" value="0.3" />
      <param name="max_steering_angle_vel" value="0.6"/>
      
      <param name="max_steering_range_smoothed_path" value="1.5" />
      <param name="min_docking_distance" value="0.1" />
      <param name="use_ct" value="false"/>
      <param name="heartbeat_report_period_sec" value="$(arg heartbeat_report_period_sec)" />
      <param name="use_update_task_service" value="$(arg use_update_task_service)" />
    </node>
    
  </group>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cititruck_description)/launch/cititrucks2.rviz"/>

</launch>
